.link {
  font-size: 14px;
  color: #fff;

  &:hover {
    text-decoration: none;
    color: #fff;
  }

  &__special {
    color: #555555;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    text-decoration: none;
  }

  &__special:hover {
    text-decoration: none;
    color: #a0907c;
  }
}