@media screen and (max-width: 1200px) {
  img{
    max-width: 100%;
  }

  .service{

    &__title {
      font-size: 1.3rem;
    }
  }
  .phone {
    padding-left: 70px;

    &__content {
      padding-left: 0;
      padding-top: 0;
      padding-right: 10px;
    }
    &__block-img{
      width: 70%;
      height: auto;
    }
    &__ul{
      padding: 0;
    }
  }

  .numbers{
    &__row-item1{
      padding-right: 0;
    }
  }
}

@media screen and (max-width: 1000px) {


  .service {
    &__title {
      font-size: 1.1rem;
    }

    &__title-media {
      font-size: 17px;
    }
  }

  .menu {
    width: auto;

    &__item {
      display: none;
    }

    &__icon {
      display: block;
    }

    &__item-icon {
      padding-top: 3px;
      font-size: 22px;
      padding-right: 10px
    }
  }
  .banner {
    &__container {
      padding-right: 0;
    }
  }

  .phone {
    padding-left: 20px;
    padding-top: 50px;

    &__content {
      padding-top: 0;
      padding-left: 0;
      padding-right: 5px;
    }
    &__block-img{
      width: 50%;
      height: auto;
    }
    &__ul{
      padding: 0;
    }
    &__title{
      font-size: 28px;
    }
    &__text{
      font-size: 14px;
    }
    &__ul{
      margin-top: 20px;
      font-size: 12px;
    }
    &__li{
      padding-left: 25px;
    }
  }

  .footer{
    &__img{
      width: auto;
    }
  }


}

@media screen and (max-width: 990px){
  .numbers{
    &__row-item3 hr{
      margin-top: 35px;
    }
    &__row-item4 hr{
      margin-top: 35px;
    }
  }
}




@media screen and (max-width: 805px) {
  .figure {
    &__title-media {
      font-size: 15px;
    }
  }

  .multipurpose {

    &__title {
      font-size: 26px;
    }

    &__text {
      font-size: 16px;
    }

    &__butt {
      padding: 0px 30px;
      margin: 10px;
    }
  }
}

@media screen and (max-width: 801px){
  .numbers {
    &__row-item3 hr {
      margin-top: 0;
    }
  }
}

@media screen and (max-width: 768px) {

  //.figure {
  //
  //  &__title {
  //    font-size: 1.0rem;
  //  }
  //
  //  &__title-media {
  //    font-size: 15px;
  //  }
  //
  //}

  //.title {
  //  font-size: 32px;
  //
  //  &__size_big {
  //    font-size: 45px;
  //  }
  //
  //}

  .banner {
    &__text {
      font-size: 15px;
    }
  }

  .multipurpose {

    &__title {
      font-size: 22px;
    }

    &__text {
      font-size: 14px;
    }

    &__span2{
      font-size: 14px;
    }
  }

  .our-projects{
    &__ul{
      padding-left: 0px;
      width: 480px;
    }
  }

  .div-video{

    &__img-media{
      width: 70px;
      height: auto;
    }
    &__title{
      font-size: 27px;
    }
    &__text{
      font-size: 16px;
    }
  }

  .phone {
    display: flex;
    flex-direction: column-reverse;


    &__content {
      display: flex;
      flex-direction: column;
      padding-bottom: 20px;
    }
    &__block-img{
      //align-self: center;
     }
    &__ul{
      margin-top: 0px;
      font-size: 13px;
    }
    &__info{
      display: flex;
      flex-direction: column;
    }
    &__title{
      margin: auto;
      font-size: 25px;
    }
    &__text{
      font-size: 13px;
    }
    &__ul{
      font-size: 12px;
    }
    &__block-ul{
      align-self: center;
    }
    &__block-img{
      margin: auto;
    }
    &__img{
      width: 100%
    }
  }

  .statistics{
    &__item{
      margin-bottom: 30px;
    }
  }

  .companies{
    &__item{
      margin-bottom: 30px;
    }
  }

  .footer{
    &__img{
      width: 270px;
    }

    &__end{
      flex-direction: column;
    }
  }

}


@media screen and (max-width: 630px){

  .multipurpose {
    padding: 40px 10px;

    &__title {
      font-size: 20px;
    }

    &__text {
      font-size: 13px;
    }

    &__span2{
      font-size: 12px;
    }

  }
}


@media screen and (max-width: 480px) {
  .title {
    font-size: 28px;

    &__size_big {
      font-size: 40px;
    }

  }

  .banner {
    &__text {
      font-size: 14px;
    }
  }

  .logo {
    &__title {
      font-size: 26px;
    }

    &__img {
      width: 55px;
      height: auto;
    }
  }
  .menu {
    &__item-span {
      font-size: 20px;
    }
  }

  .realization-ideas {

    &__img {
      padding: 0px 30px;
    }

    &__title {
      font-size: 28px;
    }

    &__text {
      font-size: 14px;
    }
  }
  .figure-logos{
    height: auto;
  }
  .multipurpose{
    flex-direction: column;

    &__butt{
      margin: auto;
      padding: auto;
    }
    &__description{
      margin: auto;
    }
  }
}

@media screen and (max-width: 420px) {
  .title {
    font-size: 25px;

    &__size_big {
      font-size: 36px;
    }

  }

  .banner {
    &__text {
      font-size: 13px;
    }
  }

  .logo {
    &__title {
      font-size: 24px;
    }

    &__img {
      width: 53px;
      height: auto;
    }
  }
  .menu {
    &__item-span {
      font-size: 18px;
    }
  }

  .realization-ideas {

    &__img {
      padding: 0px 15px;
    }

    &__title {
      font-size: 24px;
    }

    &__text {
      font-size: 13px;
    }
  }

  .our-projects{


    &__ul{
      width: auto;
      flex-wrap: wrap;
    }
  }


}