@media screen and (max-width: 1200px) {
  * {
    box-sizing: border-box;
  }

  .figure {

    &__title {
      font-size: 1.3rem;
    }
  }
}

@media screen and (max-width: 1000px) {
  * {
    box-sizing: border-box;
  }

  .figure {
    &__title {
      font-size: 1.1rem;
    }

    &__title-media {
      font-size: 17px;
    }
  }

  .menu {
    width: auto;

    &__item {
      display: none;
    }

    &__icon {
      display: block;
    }

    &__item-icon {
      padding-top: 3px;
      font-size: 22px;
      padding-right: 10px
    }
  }
  .banner {
    &__container {
      padding-right: 0;
    }
  }
}

@media screen and (max-width: 805px) {
  * {
    box-sizing: border-box;
  }

  .figure {
    &__title-media {
      font-size: 15px;
    }
  }

  .multipurpose {

    &__title {
      font-size: 26px;
    }

    &__text {
      font-size: 16px;
    }

    &__butt {
      padding: 0px 30px;
      margin: 10px;
    }
  }
}


@media screen and (max-width: 768px) {
  * {
    box-sizing: border-box;
  }

  .figure {

    &__title {
      font-size: 1.0rem;
    }

    &__title-media {
      font-size: 15px;
    }

  }

  .title {
    font-size: 32px;

    &__size_big {
      font-size: 45px;
    }

  }

  .banner {
    &__text {
      font-size: 15px;
    }
  }

  .multipurpose {

    &__title {
      font-size: 22px;
    }

    &__text {
      font-size: 14px;
    }

    //&__butt {
    //  padding: 0px 30px;
    //  margin: 10px;
    //}

    &__span2{
      font-size: 14px;
    }
  }

  .our-projects{
    &__ul{
      padding-left: 0px;
      width: 480px;
    }
  }



}


@media screen and (max-width: 630px){

  .multipurpose {
    padding: 40px 10px;

    &__title {
      font-size: 20px;
    }

    &__text {
      font-size: 13px;
    }

    //&__butt {
    //  padding: 0px 30px;
    //  margin: 10px;
    //}

    &__span2{
      font-size: 12px;
    }

  }
}


@media screen and (max-width: 480px) {
  .title {
    font-size: 28px;

    &__size_big {
      font-size: 40px;
    }

  }

  .banner {
    &__text {
      font-size: 14px;
    }
  }

  .logo {
    &__title {
      font-size: 26px;
    }

    &__img {
      width: 55px;
      height: auto;
    }
  }
  .menu {
    &__item-span {
      font-size: 20px;
    }
  }

  .realization-ideas {

    &__img {
      padding: 0px 30px;
    }

    &__title {
      font-size: 28px;
    }

    &__text {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 420px) {
  .title {
    font-size: 25px;

    &__size_big {
      font-size: 36px;
    }

  }

  .banner {
    &__text {
      font-size: 13px;
    }
  }

  .logo {
    &__title {
      font-size: 24px;
    }

    &__img {
      width: 53px;
      height: auto;
    }
  }
  .menu {
    &__item-span {
      font-size: 18px;
    }
  }

  .realization-ideas {

    &__img {
      padding: 0px 15px;
    }

    &__title {
      font-size: 24px;
    }

    &__text {
      font-size: 13px;
    }
  }

  .our-projects{


    &__ul{
      width: auto;
      flex-wrap: wrap;
    }
  }


}