.menu {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
  width: 640px;
  display: flex;
  justify-content: space-around;

  &.responsive {
    position: relative;
    top: 70px;
    left: 100px;
  }

  &__item {
    display: inline-block;
    margin-right: 7px;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__open {
    display: none;
    color: white;
  }

  &__icon:hover {
    text-decoration: none;
    color: white;
  }

}

