.menu{
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
  //margin-right: 30px;
  width: 640px;
  display: flex;
  justify-content: space-around;

  &__item{
    display: inline-block;
    margin-right: 7px;
  }
  &__item:last-child{
    margin-right: 0;
  }

  &__link{
    color: white;
  }
  &__icon{
    color: white;
    display: none;
  }


}

