.menu{
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
  width: 640px;
  display: flex;
  justify-content: space-around;

  &.responsive{
    position: relative;
    top: 70px;
    left: 100px;
  }

  &__item{
    display: inline-block;
    margin-right: 7px;
  }
  &__item:last-child{
    margin-right: 0;
  }

  &__link{
    color: white;
  }
  &__icon{
    color: white;
    display: none;
  }

  &__item-span{
    padding-right: 10px;
  }
  &__icon:hover{
    text-decoration: none;
    color: white;
  }

}

