.multipurpose{
  display: flex;
  justify-content: space-around;
  //height: 150px;
  padding: 50px;
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
  margin-bottom: 80px;

  &__description{
    line-height: 0%;
  }
  &__butt{
    background-color: #998675;
    color: white;
    border: 0px;
    padding: 0px 35px;
    border-radius: 5px;
    margin: 10px;
  }
  &__text{
    color: #4b423e;
    font-family: Montserrat;
    font-size: 18px;
  }
  &__title{
    color: #fff;
    font-family: Raleway;
    font-size: 28px;
  }

  &__name{
    color: #baa68f;
  }
}



