.phone {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  background-color: #fbfaf8;
  padding-left: 90px;
  margin-bottom: 0px;

  &__content {
    padding: 110px;
    max-width: 740px;
  }

  &__li {
    list-style: none;
    background: url("../images/01.png") no-repeat left center;
    padding-left: 38px;
  }

  &__ul {
    margin-top: 40px;
    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 32px;
  }

  &__title {
    color: #555555;
    font-family: "Raleway - Semi Bold";
    font-size: 30px;
    font-weight: 400;
  }

  &__text {
    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
  }

  &__info .title--color-black {
    text-align: start;
  }
}