.resent {
  padding-top: 80px;
  padding-bottom: 50px;

  &__card {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &__card-items {
    width: 370px;
    height: 395px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    position: relative;
    transition: all .3s ease-in-out;
    margin-bottom: 20px;
  }

  &__card-items:hover {
    background-color: #362f2d;
    border: none;
  }

  &__card-items:hover &__hover {
    opacity: 1;
  }

  &__description {
    margin: 25px;
  }

  &__title {
    color: #555555;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 500;
    display: block;

  }

  &__text {
    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
  }

  &__link {
    color: #c7b299;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;

  }

  &__link-img {
    padding-bottom: 1px;
    padding-left: 3px;

  }

  &__link:hover {
    text-decoration: none;
    color: #c7b299;
  }

  &__hover {
    position: absolute;
    width: 370px;
    height: 220px;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: all .3s ease-in-out;
  }

  &__calendar {
    position: absolute;
    top: 20px;
    left: 20px;
    transition: all .3s ease-in-out;
  }

  &__calendar-hover {
    position: absolute;
    top: 20px;
    left: 20px;
    opacity: 0;
    transition: all .3s ease-in-out;
  }

  &__card-items:hover &__calendar-hover {
    opacity: 1;
  }

  &__card-items:hover &__title {
    color: #c7b299;
  }

  &__card-items:hover &__text {
    color: #ffffff;
  }

  &__div-buttons {
    text-align: center;
    padding: 40px;
  }

  &__button {
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
  }
}