.service {
  padding: 50px;
  margin-bottom: 35px;

  &__hr {
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
    transition: all .3s ease-in-out;
  }
  &__title{
    transition: all .3s ease-in-out;
  }
  &__info:hover &__hr {
    background-color: #c7b299;
    transition: all .3s ease-in-out;

  }

  &__info:hover &__title {
    color: #c7b299;
  }

  &__img {
    width: 44px;
    height: 44px
  }
}