.text {
  font-size: 13px;
  font-family: Montserrat;

  &__brown {
    color: #c7b299;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-transform: uppercase;
  }

  &__primary {
    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    max-width: 650px;
    margin: auto;
    text-align: center;
  }

  &__white {
    color: white;
  }

  &__gray {
    color: #555555;
  }
}