.title {
  color: #ffffff;
  font-family: Raleway;
  font-size: 36px;
  text-align: center;

  &__size-big {
    font-family: "Raleway - Extra Bold";
    font-size: 52px;
  }

  &__color-black {
    color: #555555;
  }

  &__count {
    font-family: "Montserrat - Ultra Light";
    font-size: 48px;
    line-height: 36px;
  }

  &__primary {
    color: #555555;
    font-family: "Raleway - Semi Bold";
    font-size: 30px;
    font-weight: 400;
  }

  &__then-name {
    font-family: Raleway;
    font-size: 28px;
  }
}
