.header {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  width: 100%; }
  .header__right {
    display: flex;
    align-items: center; }
  .header__right img {
    margin-right: 15px; }
  .header__right img:last-child {
    margin-right: 0; }
  .header__link {
    padding-right: 10px; }
  .header__img {
    width: 16px;
    height: 20px; }

* {
  box-sizing: border-box; }

.banner {
  height: 100vh;
  background: url("../images/photo.png") no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-start; }
  .banner:after {
    content: '';
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute; }
  .banner__info {
    align-self: center;
    color: #fff;
    text-align: center;
    margin: auto; }
  .banner__content {
    display: flex;
    z-index: 33;
    flex-direction: column;
    height: 100vh; }
  .banner__full-head {
    padding-top: 20px; }
  .banner__text {
    max-width: 550px; }

.logo {
  display: flex;
  align-items: center; }
  .logo__title {
    font-size: 28px;
    color: #fff; }

.title {
  color: #ffffff;
  font-family: Raleway;
  font-size: 36px;
  text-align: center; }
  .title__size_big {
    font-family: "Raleway - Extra Bold";
    font-size: 52px; }
  .title--color-black {
    color: #555555; }
  .title--count {
    font-family: "Montserrat - Ultra Light";
    font-size: 48px;
    line-height: 36px; }
  .title--primary {
    color: #555555;
    font-family: "Raleway - Semi Bold";
    font-size: 30px;
    font-weight: 400; }
  .title--then-name {
    font-family: Raleway;
    font-size: 28px; }

.menu {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
  width: 640px;
  display: flex;
  justify-content: space-around; }
  .menu.responsive {
    position: relative;
    top: 70px;
    left: 100px; }
  .menu__item {
    display: inline-block;
    margin-right: 7px; }
  .menu__item:last-child {
    margin-right: 0; }
  .menu__link {
    color: white; }
  .menu__icon {
    color: white;
    display: none; }
  .menu__item-span {
    padding-right: 10px; }
  .menu__icon:hover {
    text-decoration: none;
    color: white; }

.link {
  font-size: 14px;
  color: #fff; }
  .link:hover {
    text-decoration: none;
    color: #fff; }
  .link--special {
    color: #555555;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    text-decoration: none; }
  .link--special:hover {
    text-decoration: none;
    color: #a0907c; }

.button {
  background-color: #998675;
  border: 0px;
  padding: 5px 35px;
  border-radius: 5px;
  margin: 10px;
  color: #ffffff; }
  .button:active {
    box-shadow: inset 0 -3px 0 #736357; }

.service {
  padding: 50px;
  margin-bottom: 35px; }
  .service__hr {
    width: 70px;
    height: 3px;
    background-color: #f1eee9; }
  .service__info:hover .service__hr {
    background-color: #c7b299;
    transition: all .3s ease-in-out; }
  .service__info:hover .service__title {
    color: #c7b299;
    transition: all .3s ease-in-out; }
  .service__img {
    width: 44px;
    height: 44px; }

.realization-ideas__img-block {
  align-self: center;
  width: 100%;
  height: auto; }

.realization-ideas__img {
  width: 100%;
  padding: 0 60px; }

.multipurpose {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
  margin-bottom: 80px; }
  .multipurpose__description {
    line-height: 0%; }
  .multipurpose__text {
    color: #4b423e;
    font-family: Montserrat;
    font-size: 18px; }
  .multipurpose__title {
    color: #fff;
    font-family: Raleway;
    font-size: 28px; }
  .multipurpose__name {
    color: #baa68f; }

.block-card {
  display: flex;
  flex-wrap: wrap;
  padding: 35px 90px;
  justify-content: space-around; }
  .block-card__item {
    margin-bottom: 20px;
    background-color: #fbfaf8;
    transition: all 0.25s; }
  .block-card__title {
    color: #c7b299;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 500;
    padding-top: 25px;
    padding-left: 30px;
    transition: all 0.25s; }
  .block-card__text {
    color: #d1d1d1;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    padding-left: 30px;
    transition: all 0.25s; }
  .block-card__hover-div {
    width: 370px;
    height: 237px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.25s; }
  .block-card__item:hover .block-card__hover-div {
    opacity: 1; }
  .block-card__item:hover {
    background-color: #362f2d; }
  .block-card__a {
    padding-right: 10px; }
  .block-card__item:hover .block-card__title {
    color: #ffffff; }
  .block-card__item:hover .block-card__text {
    color: #c7b299; }
  .block-card__item:hover .block-card__text {
    color: #c7b299; }

.our-projects {
  display: flex;
  flex-direction: column; }
  .our-projects__button {
    border-radius: 3px;
    border: 1px solid #ebebeb;
    background-color: white;
    padding: 5px 10px; }
  .our-projects__button:active {
    background-color: #998675;
    color: white; }
  .our-projects__once-butt {
    display: flex;
    justify-content: center;
    padding-bottom: 60px; }

.block-video {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../images/photo_back.png") no-repeat;
  background-size: cover;
  position: relative; }
  .block-video__description {
    text-align: center; }
  .block-video__title {
    color: #ffffff;
    font-family: Raleway;
    font-size: 30px; }
  .block-video__text {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 20px;
    max-width: 600px; }
  .block-video__time {
    color: #c7b299;
    font-family: Montserrat;
    font-size: 14px;
    align-self: center; }
  .block-video:after {
    content: '';
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute; }
  .block-video__block-img {
    align-self: center;
    margin-bottom: 15px; }
  .block-video__content {
    z-index: 55;
    display: flex;
    flex-direction: column; }
  .block-video__play-video {
    border: 0px;
    background-color: rgba(0, 0, 0, 0); }
  .block-video__content .text--primary {
    color: #d6d7d9; }

.phone {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  background-color: #fbfaf8;
  padding-left: 90px;
  margin-bottom: 0px; }
  .phone__content {
    padding: 110px;
    max-width: 740px; }
  .phone__li {
    list-style: none;
    background: url("../images/01.png") no-repeat left center;
    padding-left: 38px; }
  .phone__ul {
    margin-top: 40px;
    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 32px; }
  .phone__title {
    color: #555555;
    font-family: "Raleway - Semi Bold";
    font-size: 30px;
    font-weight: 400; }
  .phone__text {
    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px; }
  .phone__info .title--color-black {
    text-align: start; }

.text {
  font-size: 13px;
  font-family: Montserrat; }
  .text--brown {
    color: #c7b299;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-transform: uppercase; }
  .text--primary {
    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    max-width: 650px;
    margin: auto;
    text-align: center; }
  .text--white {
    color: white; }
  .text--gray {
    color: #555555; }

.numbers {
  padding: 60px;
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%); }

.resent {
  padding-top: 80px;
  padding-bottom: 50px; }
  .resent__card {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
  .resent__card-items {
    width: 370px;
    height: 395px;
    border: 1px solid #f8f8f8;
    position: relative; }
  .resent__card-items:hover {
    background-color: #362f2d;
    border: none; }
  .resent__card-items:hover .resent__hover {
    opacity: 1; }
  .resent__description {
    margin: 25px; }
  .resent__title {
    color: #555555;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 500;
    display: block; }
  .resent__text {
    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px; }
  .resent__link {
    color: #c7b299;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px; }
  .resent__link-img {
    padding-bottom: 1px;
    padding-left: 3px; }
  .resent__link:hover {
    text-decoration: none;
    color: #c7b299; }
  .resent__hover {
    position: absolute;
    width: 370px;
    height: 220px;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0; }
  .resent__calendar {
    position: absolute;
    top: 20px;
    left: 20px; }
  .resent__calendar-hover {
    position: absolute;
    top: 20px;
    left: 20px;
    opacity: 0; }
  .resent__card-items:hover .resent__calendar-hover {
    opacity: 1; }
  .resent__card-items:hover .resent__title {
    color: #c7b299; }
  .resent__card-items:hover .resent__text {
    color: #ffffff; }
  .resent__div-buttons {
    text-align: center;
    padding: 40px; }
  .resent__button {
    border: 0px;
    background-color: rgba(0, 0, 0, 0); }

.companies {
  background: url("../images/photo_logos.png") no-repeat;
  background-size: cover;
  justify-content: center;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 0px; }
  .companies:after {
    content: '';
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute; }
  .companies__content {
    z-index: 55;
    padding: 110px 0; }
  .companies__item {
    text-align: center; }

.footer {
  background-image: url("../images/Background_foot.png");
  padding-top: 80px; }
  .footer .logo {
    margin-bottom: 25px; }
  .footer__img {
    display: flex;
    flex-wrap: wrap;
    width: 270px;
    justify-content: space-between;
    margin: auto; }
  .footer__img-items {
    padding-bottom: 10px; }
  .footer__title {
    margin-bottom: 25px;
    color: #ffffff;
    text-align: center; }
  .footer__title-waxom {
    color: #ffffff; }
  .footer__hr {
    width: 270px;
    height: 1px;
    background-color: #252525;
    border: 0px; }
  .footer__arrow {
    padding-bottom: 1px;
    padding-left: 3px; }
  .footer__text {
    color: #555555;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px; }
  .footer__time {
    color: #363636;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px; }
  .footer__span1 {
    color: #00bff3; }
  .footer__span2 {
    color: #959595; }
  .footer__link {
    color: #d1d1d1;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; }
  .footer__link:hover {
    text-decoration: none;
    color: #d1d1d1; }
  .footer__end {
    background-color: #111111;
    height: 110px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .footer .list--style-none {
    width: 370px;
    font-size: 13px; }
  .footer .text--gray span {
    color: #959595; }
  .footer__end-span {
    color: #888888; }
  .footer__end li {
    color: #454545; }

@media screen and (max-width: 1200px) {
  img {
    max-width: 100%; }
  .service__title {
    font-size: 1.3rem; }
  .phone {
    padding-left: 70px; }
    .phone__content {
      padding-left: 0;
      padding-top: 0;
      padding-right: 10px; }
    .phone__block-img {
      width: 70%;
      height: auto; }
    .phone__ul {
      padding: 0; }
  .numbers__row-item1 {
    padding-right: 0; } }

@media screen and (max-width: 1000px) {
  .service__title {
    font-size: 1.1rem; }
  .service__title-media {
    font-size: 17px; }
  .menu {
    width: auto; }
    .menu__item {
      display: none; }
    .menu__icon {
      display: block; }
    .menu__item-icon {
      padding-top: 3px;
      font-size: 22px;
      padding-right: 10px; }
  .banner__container {
    padding-right: 0; }
  .phone {
    padding-left: 20px;
    padding-top: 50px; }
    .phone__content {
      padding-top: 0;
      padding-left: 0;
      padding-right: 5px; }
    .phone__block-img {
      width: 50%;
      height: auto; }
    .phone__ul {
      padding: 0; }
    .phone__title {
      font-size: 28px; }
    .phone__text {
      font-size: 14px; }
    .phone__ul {
      margin-top: 20px;
      font-size: 12px; }
    .phone__li {
      padding-left: 25px; }
  .footer__img {
    width: auto; } }

@media screen and (max-width: 990px) {
  .numbers__row-item3 hr {
    margin-top: 35px; }
  .numbers__row-item4 hr {
    margin-top: 35px; } }

@media screen and (max-width: 805px) {
  .figure__title-media {
    font-size: 15px; }
  .multipurpose__title {
    font-size: 26px; }
  .multipurpose__text {
    font-size: 16px; }
  .multipurpose__butt {
    padding: 0px 30px;
    margin: 10px; } }

@media screen and (max-width: 801px) {
  .numbers__row-item3 hr {
    margin-top: 0; } }

@media screen and (max-width: 768px) {
  .banner__text {
    font-size: 15px; }
  .multipurpose__title {
    font-size: 22px; }
  .multipurpose__text {
    font-size: 14px; }
  .multipurpose__span2 {
    font-size: 14px; }
  .our-projects__ul {
    padding-left: 0px;
    width: 480px; }
  .div-video__img-media {
    width: 70px;
    height: auto; }
  .div-video__title {
    font-size: 27px; }
  .div-video__text {
    font-size: 16px; }
  .phone {
    display: flex;
    flex-direction: column-reverse; }
    .phone__content {
      display: flex;
      flex-direction: column;
      padding-bottom: 20px; }
    .phone__ul {
      margin-top: 0px;
      font-size: 13px; }
    .phone__info {
      display: flex;
      flex-direction: column; }
    .phone__title {
      margin: auto;
      font-size: 25px; }
    .phone__text {
      font-size: 13px; }
    .phone__ul {
      font-size: 12px; }
    .phone__block-ul {
      align-self: center; }
    .phone__block-img {
      margin: auto; }
    .phone__img {
      width: 100%; }
  .statistics__item {
    margin-bottom: 30px; }
  .companies__item {
    margin-bottom: 30px; }
  .footer__img {
    width: 270px; }
  .footer__end {
    flex-direction: column; } }

@media screen and (max-width: 630px) {
  .multipurpose {
    padding: 40px 10px; }
    .multipurpose__title {
      font-size: 20px; }
    .multipurpose__text {
      font-size: 13px; }
    .multipurpose__span2 {
      font-size: 12px; } }

@media screen and (max-width: 480px) {
  .title {
    font-size: 28px; }
    .title__size_big {
      font-size: 40px; }
  .banner__text {
    font-size: 14px; }
  .logo__title {
    font-size: 26px; }
  .logo__img {
    width: 55px;
    height: auto; }
  .menu__item-span {
    font-size: 20px; }
  .realization-ideas__img {
    padding: 0px 30px; }
  .realization-ideas__title {
    font-size: 28px; }
  .realization-ideas__text {
    font-size: 14px; }
  .figure-logos {
    height: auto; }
  .multipurpose {
    flex-direction: column; }
    .multipurpose__butt {
      margin: auto;
      padding: auto; }
    .multipurpose__description {
      margin: auto; } }

@media screen and (max-width: 420px) {
  .title {
    font-size: 25px; }
    .title__size_big {
      font-size: 36px; }
  .banner__text {
    font-size: 13px; }
  .logo__title {
    font-size: 24px; }
  .logo__img {
    width: 53px;
    height: auto; }
  .menu__item-span {
    font-size: 18px; }
  .realization-ideas__img {
    padding: 0px 15px; }
  .realization-ideas__title {
    font-size: 24px; }
  .realization-ideas__text {
    font-size: 13px; }
  .our-projects__ul {
    width: auto;
    flex-wrap: wrap; } }

.post-content {
  margin-bottom: 50px;
  text-align: center; }

.list {
  display: flex;
  justify-content: center; }
  .list__item {
    list-style-type: none;
    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 14px;
    margin-right: 20px; }
  .list--primary {
    display: block; }
  .list--primary li {
    list-style: none;
    background: url("../images/01.png") no-repeat left center;
    padding-left: 38px;
    color: #8c8c8c;
    font-family: Montserrat;
    margin-bottom: 10px; }
  .list--style-none {
    list-style: none;
    justify-content: space-around; }

.statistics {
  display: flex;
  justify-content: center; }
  .statistics__item {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .statistics__img {
    padding-bottom: 20px; }
  .statistics__content {
    margin-bottom: 20px; }
  .statistics__content p {
    margin-bottom: 0; }
  .statistics__hr {
    width: 30px;
    height: 2px;
    background-color: #ffffff;
    margin: 0 auto; }
